language: php
php:
  - 5.4
  - 5.5
  - 5.6

install:
  - travis_retry composer self-update && composer --version
  - travis_retry composer global require "fxp/composer-asset-plugin:~1.1.1"
  - export PATH="$HOME/.composer/vendor/bin:$PATH"

before_script: composer install --prefer-source

#script: phpunit --configuration phpunit.xml.dist

cache:
  directories:
    - vendor

#matrix:
#  allow_failures:
#    - php: hhvm