/*屏蔽流氓宽带商强行插入的广告*/
body > iframe {
    opacity: 0;
    display: none;
}

.text-center {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pl0 {
    padding-left: 0
}

.pr0 {
    padding-right: 0
}

.p0 {
    padding: 0
}

.mt10 {
    margin-top: 10px;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt15 {
    margin-top: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mr15 {
    margin-right: 15px;
}

h1 {
    font-size: 24px;
}

abbr[title] {
    border-bottom: 0px;
}

.divider {
    border-bottom: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}
.fs12 {
    font-size: 12px;
}
.br0 {
    border-radius: 0;
}