
html,
body {
    height: 100%;
    background-color: #f0f0f0;
    font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

.navbar, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #FFF;
    border-bottom: 2px solid #E5E5E5;
}

.panel-title{color: #666; font-size: 15px;}

a.btn{ color: #FFFFFF;}
a:hover.btn{ color: #FFFFFF;}

.panel-body .list{ line-height: 25px;}
