html,
body {
    height: 100%;
    background-color: #e1e1e1;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding-top: 50px;
    padding-bottom: 30px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* 自定义 */
.navbar {
    background: #71C940;
}

.navbar a {
    color: #fff;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

.list-group-item {
    border: none;
    border-bottom: 1px solid #F0F0F0
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #71C940;
    color: #eee;
}

.article a {
    color: #008E59;
}

#reply-notice {
    color: gray;
    padding-top: 16px;
    margin-bottom: 16px;
    border: 1px dashed;
}

/*代码高亮*/
#md-preview pre, .article pre {
    padding: 0;
}

#about-us h5 {
    font-size: 13px;
}