html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
     font-family: Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

#w0.navbar, #w1.navbar, #w2.navbar, #w3.navbar, #w4.navbar {
    margin-bottom:25px;
}

/* markdown 编辑器 */
.wmd-panel {
}

.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}

.wmd-input {
    border-radius: 2px;
    background-color: #e2e2e2;
    color: #000;
}

.wmd-preview {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px dashed #ccc;
}

.wmd-button-row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

/*个人主页*/
.list-nav .navbar {
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-nav .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#new-topic {
    background: #5677fc;
}
#new-topic a {
    color: white;
}
.list-nav .breadcrumb{
    margin: 0;
    padding: 0;
}
.list-nav .breadcrumb a {
    padding-right: 0;
}

.article a {
    color: #008E59;
}

#about-us h5 {
    font-size: 13px;
}