html,
body {
    height: 100%;
    font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, tahoma, arial, simsun, 宋体;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding-top: 50px;
    padding-bottom: 30px;
}

/**/